:root{
  /**
  It is often used for the color of main elements, such as background color
   */
  --orderly-color-base-100: 93 83 123;
  --orderly-color-base-200: 81 72 107;
  --orderly-color-base-300: 68 61 89;
  --orderly-color-base-400: 57 52 74;
  --orderly-color-base-500: 51 46 66;
  --orderly-color-base-600: 43 38 56;
  --orderly-color-base-700: 36 32 47;
  --orderly-color-base-800: 29 26 38;
  --orderly-color-base-900: 22 20 28;
   
  /**
  primary color, used for buttons, border etc
  */
  --orderly-color-primary: 182 79 255;
  --orderly-color-primary-light: 208 140 255;
  --orderly-color-primary-darken: 152 62 214;
   
  /**
  link color
   */
  --orderly-color-link: 182 79 255;
   
   
  --orderly-color-secondary: 255 255 255;
  --orderly-color-tertiary: 218 218 218;
  --orderly-color-quaternary: 218 218 218;
   
  /**
  error color or destructive action elements
  */
  --orderly-color-danger: 232 88 175;
  --orderly-color-danger-light: 255 103 191;
  --orderly-color-danger-darken: 199 68 146;
   
  /**
  success color or constructive action elements
  */
  
  --orderly-color-success: 3 152 134;
  --orderly-color-success-light: 0 181 159;
  --orderly-color-success-darken: 0 119 105;
   
  /**
  warning color
  */
  --orderly-color-warning: 255 207 115;
  --orderly-color-warning-light: 229 199 0;
  --orderly-color-warning-darken: 229 199 0;
   
  --orderly-color-background: 27 32 40;
  --orderly-color-background-contrast: 255 255 255;
   
  --orderly-color-fill: 36 32 47;
  --orderly-color-fill-light: 40 46 58;
   
  --orderly-color-popover: 43 38 56;
  --orderly-color-popover-foreground: 255 255 255;
   
   
  --orderly-color-base-foreground: 255 255 255;
   
  --orderly-color-trading-loss: 255 103 194;
  --orderly-color-trading-loss-contrast: 40 46 58;
  --orderly-color-trading-profit: 0 181 159;
  --orderly-color-trading-profit-contrast: 40 46 58;
   
  /* rounded */
  --orderly-rounded: 6px;
  --orderly-rounded-sm: 4px;
  --orderly-rounded-lg: 8px;
  --orderly-rounded-full: 9999px;
   
  --orderly-button-shadow: none;
   
  --orderly-font-size-base: 16px;
   
  --orderly-color-divider: 42 46 52;
   
  --orderly-font-family: 'Manrope', sans-serif;
  }

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
